html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-rendering: optimizelegibility !important;
  /* overflow: hidden; */
}

@media screen and (max-width: 599px){

  body{
    background-color: lightblue;
  }
  
  header p {
    text-align: center;
    letter-spacing: .05em;
  }
  ul {
    padding: 0;
    list-style: none;
  }
  header nav ul {
    display: flex;
    justify-content: space-around;  
  }
  aside h2{
    text-align: center;
  }
  aside ul {
    margin: 16px 10px 16px 10px;
  }
  article h1 {
    font-size: 26px;
    text-align: center;
    letter-spacing: 0.05em;
    margin: 16px 10px 16px 10px;
  }
  article p {
    letter-spacing: 0.03em;
    margin: 16px 10px 16px 10px;
  }
  footer {
    margin: 16px 10px 16px 10px;
  }
}

@media screen and (min-width: 600px) {
  body {
    background-color: lightgreen;
  }
  header p {
    text-align: center;
    letter-spacing: .05em;
  }
  ul {
    padding: 0;
    list-style: none;
  }
  header nav ul {
    display: flex;
    justify-content: space-around;  
  }
  aside h2{
    text-align: center;
  }
  aside ul {
    margin: 16px 10px 16px 10px;
  }
  article h1 {
    text-align: center;
    letter-spacing: 0.05em;
    margin: 16px 10px 16px 10px;
  }
  article p {
    letter-spacing: 0.03em;
    margin: 16px 10px 16px 10px;
  }
  footer {
    margin: 16px 10px 16px 10px;
  }
}

@media screen and (min-width: 1000px){
  body {
    background-color: lightgray;
  }
}