#container {
  margin: 0 auto;
  width: 100%;
  background: #fff;
}

#header {
  background: #ccc;
  padding: 20px;
}

#header h1 {
  margin: 0;
}

#navigation {
  float: left;
  width: 100%;
  background: #333;
}

#navigation ul {
  margin: 0;
  padding: 0;
}

#navigation ul li {
  list-style-type: none;
  display: inline;
}

#navigation li a {
  display: block;
  float: left;
  padding: 5px 10px;
  color: #fff;
  text-decoration: none;
  border-right: 1px solid #fff;
}

#navigation li a:hover {
  background: #383;
}

#content-container {
  float: left;
  width: 100%;
  background: #fff;
}

#content {
  clear: left;
  float: left;
  width: 60%;
  padding: 20px 0;
  margin: 0 0 0 4%;
  display: inline;
}

#content h2 {
  margin: 0;
}

#aside {
  float: right;
  width: 33%;
  padding: 20px 0;
  margin: 0 3% 0 0;
  display: inline;
}

#aside h3 {
  margin: 0;
}

#footer {
  clear: left;
  background: #ccc;
  text-align: right;
  padding: 20px;
  height: 1%;
}


/* Printer */
@media print {
  #header,
  #navigation,
  #footer {
    display: none;
  }
  #aside {
    float: none;
    display: block;
    margin: 0;
    padding: 0;
    page-break-inside: avoid;
  }
  #content {
    width: 100%;
    margin: 0;
  }
}

@media screen and (max-width: 500px) {
  #container {
    display: flex;
    flex-direction: column;
    max-width: 304px;
  }
  #navigation {
    border: 10px solid white;
    box-sizing: border-box;
  }
  #navigation ul {
    background-color: rgb(55, 54, 58);
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 285px;
  }
  #navigation ul li a {
    border: 0;
  }
  #content-container {
    display: flex;
    flex-direction: column;
  }
  #content {
    float: 0;
    width: 100%;
    margin: 0;
  }
  #content h2 {
    text-align: center;
    margin-top: 80px;
  }
  img {
    box-sizing: border-box;
    width: auto;
    height: auto;
    max-width: 304px;
  }
  #aside {
    display: none;
  }
}
