[submodule "modulo2_FrontEnd/bl-10-introducao-a-react/10.2/modulo2_FrontEnd/bl-10-introducao-a-react/10.2/coldplay"]
	path = modulo2_FrontEnd/bl-10-introducao-a-react/10.2/modulo2_FrontEnd/bl-10-introducao-a-react/10.2/coldplay
	url = https://github.com/diegodmitry/trybe-exercicios
