ol li {
  background-color: yellow;
}
ol li:nth-child(even) {
  background-color: greenyellow;
}
ol li:nth-child(odd) {
  text-transform: uppercase;
}
h1,
h2,
h3 {
  color: orangered;
}
h1 em {
  font-size: 40px;
  border: 1px solid black;
}

ol li,
ul li {
  font-size: 20px;
}
ol li em,
ul li em {
  font-weight: 600;
}

.linguagem li:nth-child(-n + 3) {
  color: steelblue;
}
/* Selecing class with start word "java" */
.linguagem li[class*="java"] {
  background-color: pink;
}
.aliados {
  list-style: none;
}
.aliados li a {
  color: black;
  text-decoration: none;
}
.aliados li a:hover {
  font-weight: 800;
}
/* Selecting elements with an href matching */
/*Reference Source: https://developer.mozilla.org/en-US/docs/Web/CSS/Attribute_selectors */
a[href="https://pt.stackoverflow.com/"]:hover
{
  color: orange;
}
a[href="https://www.w3schools.com/"]:hover
{
  color: green;
}
a[href="https://developer.mozilla.org/pt-BR/"]:hover
{
  color: black;
}
a[href="https://devdocs.io/"]:hover
{
  color: yellow;
}
a[href="https://app.betrybe.com/"]:hover
{
  color: darkgreen;
}
