body {
  font-size: 16px;
}
h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 65px;
  color: orange;
}
p {
  font-weight: 600;
  font-size: 3em;
  font-style: normal;
  line-height: 1.3px;
  text-align: center;
  text-decoration: underline;
}
ul {
  background-color: orangered;
}
ul li:first-child {
  background-color: yellowgreen;
}
ul li:nth-child(2) {
  background-color: crimson;
}
ul li:last-child {
  background-color: maroon;
}
